*{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: none;
    width: 300px;
    left: 25%;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

img{
    border-radius: 50% 50% 50% 50%;
    box-shadow: 1px 2px 1px 2px rgb(160, 159, 159);
    height: 25vh;
    width: 160px;
    border: none;


}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    margin-left: 60%;
    margin-top: -35%;
}
#mail{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60%;
    margin-top: -5%;
}
#paragraphe{
    font-family: Arial, Helvetica, sans-serif;
    width: 200%;
    padding: 10px 10px;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 102%;
    top: -40px;
    width: 105px;
    height: 4vh;
    background: rgb(25, 160, 214);
    border: none;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    position: relative;
}
#num{
    color: rgb(73, 161, 219);
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#git{
    color: rgb(73, 161, 219);
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 480px;
    margin-top: -11%;
    width: 120px;

}
a{
    text-decoration: none;
}
#ligne{
    border: 1px solid rgb(150, 146, 146);
    width: 198%;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
#paragraphe2{
    width: 180%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.performance{


    height: 34vh;
    width: 200%;
}
.github{
    border-radius: 10px 10px 10px 10px;
    width: 48%;
    height: 40%;
    border: 1px solid black;
    margin: 20px 0px;
}
#trente{
    color: rgb(119, 115, 115);
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
    letter-spacing: normal;
}
#hub{
    color: rgb(119, 115, 115);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: -80px 140px;
}
#forhub{
    color: rgb(119, 115, 115);
    font-family: Arial, Helvetica, sans-serif;
    margin: 76px 130px;
    font-size: 14px;
}
.html{
    border-radius: 10px 10px 10px 10px;
    width: 48%;
    height: 40%;
    border: 1px solid black;
    margin-top: -110px;
    margin-left: 310px;
}
#septente{
    color: rgb(119, 115, 115);
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
    letter-spacing: normal;
}
#html5{
    color: rgb(119, 115, 115);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: -80px 140px;
}
#forhtml5{
    color: rgb(119, 115, 115);
    font-family: Arial, Helvetica, sans-serif;
    margin: 76px 130px;
    font-size: 14px;
}
.css{
    border-radius: 10px 10px 10px 10px;
    width: 48%;
    height: 40%;
    border: 1px solid rgb(46, 170, 219);
    margin-top: 20px;
    margin-left: 0px;
    background: rgb(46, 170, 219);
}
#soissante{
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
    letter-spacing: normal;
}
#CSS{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: -80px 140px;
}
#forCSS{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 76px 130px;
    font-size: 14px;
}


section .langue{
    width: 200%;
    height: 10vh;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: none;
}
/* languages */
.languagefr{
    height: 8vh;
    width: 140px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    padding: 10px 10px;
}
.languagefr:hover{
    border: 1px solid rgb(46, 170, 219);
    color: rgb(46, 170, 219);
    box-shadow: 1px 1px 1px 1px rgb(235, 230, 230);
}
.flagfr{
    width: 35px;
    height: 35px;
    box-shadow: none;
    
}
.namefr{
    margin: 0px 10px;
}
.languageen{
    height: 8vh;
    width: 140px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -71px 200px;
    padding: 10px 10px;
}
.languageen:hover{
    border: 1px solid rgb(46, 170, 219);
    color: rgb(46, 170, 219);
    box-shadow: 1px 1px 1px 1px rgb(235, 230, 230);
}
.flagen{
    width: 35px;
    height: 35px;
    box-shadow: none;
    
}
.nameen{
    margin: 0px 10px;
}

.languagesw{
    height: 8vh;
    width: 140px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 380px;
    padding: 10px 10px;
}
.languagesw:hover{
    border: 1px solid rgb(46, 170, 219);
    color: rgb(46, 170, 219);
    box-shadow: 1px 1px 1px 1px rgb(235, 230, 230);
}
.flagsw{
    width: 35px;
    height: 35px;
    box-shadow: none;
    
}
.namesw{
    margin: 0px 10px;
}


.expers {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.expers .exp-item1 {
    width: 25%;
    padding-right: 10px;
}
.expers .exp-item1 .timeline1 {
    display: flex;
    align-items: center;
}

.expers .exp-item1 .timeline1 .line1 {
    width: 35%;
    margin-left: 7px;
    border: none;
    height: 2px;
    background-color: #707070;
}

.expers .exp-item1 .circle1 {
    background-color: #707070;
    width: 12px;
    height: 12px;
    border-radius: none;
    display: block;
}
.expers .exp-item1 .circle1:hover{
    background-color: rgb(46, 170, 219); 
}

.expers .exp-item1 .timeline1:hover .line1,
.expers .exp-item1 .timeline:hover .circle1  {
    background-color: rgb(46, 170, 219);
}

.expers .exp-item1 p {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
/*          */

.expers .exp-item2 {
    width: 25%;
    padding-right: 10px;
}
.expers .exp-item2 .timeline2 {
    display: flex;
    align-items: center;
}

.expers .exp-item2 .timeline2 .line2 {
    width: 35%;
    margin-left: 7px;
    border: none;
    height: 2px;
    background-color: #707070;
}

.expers .exp-item2 .circle2 {
    background-color: #707070;
    width: 12px;
    height: 12px;
    border-radius: none;
    display: block;
}
.expers .exp-item2 .circle2:hover{
    background-color: rgb(46, 170, 219); 
}

.expers .exp-item2 .timeline2:hover .line2,
.expers .exp-item2 .timeline:hover .circle2  {
    background-color: rgb(46, 170, 219);
}
.expers .exp-item2 p {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

