*{
    background-color: rgb(145, 160, 172);
    width: 300px;
    position: relative;
    left: 25%;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
a{
    border: 1px solid rgb(121, 186, 230);
    box-shadow: 1px 1px 1px 1px black;
    text-decoration: none;
    color: white;
}
img{
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 1px 1px black;
    height: 50vh;
    border: 3px dotted wheat;


}
h1{
    border: 1px solid rgb(121, 186, 230);
    box-shadow: 1px 1px 1px 1px black;
    font-size: 20px;
    text-align: center;
}
ul{
    text-align: left;
    position: relative;
}
h3{
    border: 1px solid rgb(121, 186, 230);
    box-shadow: 1px 1px 1px 1px black;
    text-align: center;
    background: rgb(110, 159, 233);
}